h2{
	margin-top: 10%;
}
h1{
	margin-top: 5%;
	margin-bottom: 5%;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 80px !important;
}

@media (min-width:768px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: -5% !important;
    }
}

.pull-right {
    line-height: 60px;
}

.glyphicon {
    line-height: 185% !important;
}